<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">

    <title>Licita Fácil</title>
</head>

<body>

    <header>
        <nav class="main-nav navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <form class="form-inline" id="frm-login">
                        <div class="form-group mb-2">
                            <label for="staticEmail2">Usuário </label>
                            <input class="form-control" id="email" type="text" value="usuario@gmail.com" placeholder="E-mail (requerido)" formControlName="email" />
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="inputPassword2">Senha </label>
                            <input class="form-control" id="password" type="password" value="1234" placeholder="Senha (requerido)" formControlName="password" />
                        </div>
                        <a class="btn btn-primary mb-2" href="/admin.html" role="button">Acessar <i class="fas fa-user"></i></a>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <!-- Page Content -->
    <header class="bg-primary py-5 mb-5">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-lg-2">
                    <img src="/assets/Logo_LF.png" />
                </div>
                <div class="col-lg-10">
                    <h1 class="display-5 text-white mt-5 mb-2">Suas pesquisas de preços de um jeito fácil</h1>
                    <p class="lead mb-5 text-white">Licita Fácil - Cotações de preços inteligentes</p>
                </div>
            </div>
        </div>
    </header>

    <div class="container main-container">
        <div class="row text-center">

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="/assets/crossplat.jpg" height="164px" width="253px" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Multiplataforma</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Saiba mais</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="/assets/performance.jpg" height="164px" width="253px" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Performance</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Saiba mais</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="/assets/produtividade.jpg" height="164px" width="253px" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Produtividade</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Saiba mais</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="/assets/full_dev.jpg" height="164px" width="253px" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Funcionalidades</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Saiba mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fim Content -->

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            Licita Fácil é um trabalhdo acadêmico desenvolvido para o Curso de Arquitetura de Software Distribuído PUC - Minas Gerais
        </div>
    </footer>

</body>

</html>