<header>
    <nav class="main-nav navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
        <div class="container">
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <form class="form-inline" id="frm-login">
                    <div class="form-group mb-2">
                        <label for="staticEmail2">Usuário </label>
                        <input class="form-control" id="email" type="text" value="usuario@gmail.com" placeholder="E-mail (requerido)" formControlName="email" />
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="inputPassword2">Senha </label>
                        <input class="form-control" id="password" type="password" value="1234" placeholder="Senha (requerido)" formControlName="password" />
                    </div>
                    <a class="btn btn-primary mb-2" href="licitacoes/listar" role="button">Acessar <i class="fas fa-user"></i></a>
                </form>
            </div>
        </div>
    </nav>
</header>
